.heroletstalkbtn {
    width: fit-content;
    padding: 10px 20px;
    background: var(--white-primary);
    text-decoration: none;
    font-size: 19px;
    border-radius: 4px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;



    margin-right: 60px;


}



@media (max-width: 768px) {

    .heroletstalkbtn {
        margin-right: 0px;
    }


}