.header {
    height: 105px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100 !important;



}


.blueBg {
    transition: .5s;
    transition-timing-function: ease-out;
    transition-duration: .3s;
    background: var(--primary-color);
}

.transparentBg {
    transition: .5s;
    transition-timing-function: ease-out;
    transition-duration: .8s;
    background: transparent;
}



.headerWrper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}

.ActionBtnAndSideberWrper {
    display: flex;
    align-items: center;
    gap: 20px;

}



.letsTalk {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #fff;
    text-underline-offset: 5px;
}

@media (max-width: 768px) {
    .letsTalkWper {
        display: none;
    }

}