.menuLi {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    cursor: pointer;
}


.menuItemsWrper {
    width: 100%;
    margin-top: 7px;
    padding: 5px 0px;
    text-decoration: none;
    text-align: left;
    font-size: 50px;
    color: #ddd;
    font-weight: 700;
    letter-spacing: 4px;
    transition: color .3s;
}

.menuItemsWrper:hover {
    color: #fff;
}