.hhhh {
  background: url('../../public/world-map.png'), linear-gradient(#000000, #082889);
  height: fit-content;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #d0d0d0;
  padding: 40px 0px;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
}