.afterHero {
    width: 100vw;
    height: 50vh;
    background: linear-gradient(transparent, rgb(0, 0, 0));
    display: flex;
    justify-content: center;
}


.afterHero>div {
    padding-top: 100px;
    width: 100%;
}

.afterHero>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
}

.circleBtnWrper {
    width: 122px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: all .80s;
    background: rgba(0, 0, 0, 0.313);
    box-shadow: -5px -5px 30px 5px rgba(255, 255, 255, 0.291), 5px 5px 30px 5px rgba(255, 255, 255, 0.31);


}

.showReeltext {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    animation: showreelRotate 10s linear infinite !important;
}

.showReelChar {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 60px !important;
    color: #ddd;
    font-size: 14px;
}



.circleBtnWrper:hover {
    box-shadow: -5px -5px 30px 5px rgba(0, 0, 255, 0.527), 5px 5px 30px 5px rgba(0, 0, 255, 0.427);

}

.btnIcon {
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 48px;
    margin-left: 55px;
}







/* vedio componnent start from here */
.vedioWrper {
    position: fixed;
    top: 0vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.707);
}

.vedioWrper>div {
    width: 90vw;
    height: 90vh;
    position: relative;
}

.vedioContainer {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    border: 1px solid #ddd;
}

.crossWrper {
    position: absolute;
    top: -10px;
    right: -10px;
    background: rgb(10, 61, 163);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: transform 1s, border 1s;
}

.crossWrper:hover {
    transform: rotate(360deg);
    border: 1px solid #fff;
}

.crossIcon {
    color: #fff;
}


@keyframes showreelRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}




@media (max-width: 600px) {

    .circleBtnWrper {
        display: none;
    }

}