.sendinquiryBtn {
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 600;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sendinqueryspan {
    padding: 15px !important;
}

.loaderIcons {
    padding: 8px;
    font-size: 45px;
    color: #fff;
    animation: loader 1.5s ease infinite;
}


@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}