.footer_top_wrper {
    height: fit-content;
    width: 100vw;
    background: var(--primary-color);
}

.footer {
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    padding: 50px 0;
    height: 600px;
    background: url('../../public/world-map.png');
    background-clip: content-box;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: saturation;



}


.footer__content_wrper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


.footer__text_copyright {
    text-align: center;
    color: var(--white-primary);



    /* will be remove in future design */

    margin-top: 100px;

}