.container {
    padding: 0px 60px;
}


@media (max-width: 768px) {

    .container {
        padding: 0px 30px;
    }


}

@media (max-width: 600px) {

    .container {
        padding: 0px 20px;
    }


}