.hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    z-index: -99;
    padding-top: 120px;
    background: linear-gradient(149deg, rgba(2, 0, 36, 1) 1%, rgba(9, 9, 121, 1) 6%, rgba(7, 63, 148, 1) 26%, rgba(9, 9, 121, 1) 46%, rgba(9, 9, 121, 1) 57%, rgba(9, 9, 121, 1) 70%, rgba(9, 9, 121, 1) 78%, rgba(9, 9, 121, 1) 87%, rgba(8, 25, 131, 1) 88%, rgba(0, 212, 255, 1) 100%);
    animation-name: backgroundgredient;
    transition-property: background;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;

}



/* frist and seconed div wrper */
.heroSectionWrper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* frist div start from here */
.frsitDivContentWrp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    position: relative;
    z-index: 1;

}

.frsitDivContentWrp>h1 {
    text-align: left;
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    padding-top: 110px;

}


.frsitDivContentWrp>h1:hover {
    color: red;
}

.frsitDivContentWrp>p {
    text-align: left;
    color: #e8e8e8;
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: 500;

}


.actionBtnWrper {
    width: 100%;
    display: flex;
    justify-content: left;
}

.scrollAnimatonWrper {
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 60px;
    border: 3px solid #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    transform: translateY(120px);

    background: rgba(0, 0, 0, 0.313);
    box-shadow: -5px -5px 30px 5px rgba(255, 255, 255, 0.291), 5px 5px 30px 5px rgba(255, 255, 255, 0.31);
}

.scrollDot {
    background: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation-name: scrolldotmove;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

/* second div start from hrere */
.secondDivContentWrp {
    height: 100%;
    color: #ddd;
    height: 40vw;
    width: 120vw;
    margin-top: -80px;
    transform: rotate(-20deg);
}



.marqueeItemWrper {
    display: flex;
    gap: 20px;
    margin-bottom: 20px !important;
}

.middleMarquee {
    margin: 10px 0;
}

.marqueeItemWrper>div {
    width: 100%;
    height: 300px !important;

}

.marqueeImage {
    height: 300px !important;
    width: 500px;
    object-fit: fill;
    border-radius: 10px;
}

.one {
    transition: 1s;
    animation-name: scrolltextOne;
    animation-duration: 15s;
    animation-timing-function: cubic-bezier(0, 0.02, 1, 1.05);
    animation-iteration-count: infinite;
}

.two {
    transition: 1s;
    animation-name: scrolltextTwo;
    animation-duration: 15s;
    animation-timing-function: cubic-bezier(0, 0.02, 1, 1.05);
    animation-iteration-count: infinite;
}

.three {
    transition: 1s;
    animation-name: scrolltextThree;
    animation-duration: 15s;
    animation-timing-function: cubic-bezier(0, 0.02, 1, 1.05);
    animation-iteration-count: infinite;
}



@keyframes scrolldotmove {
    to {
        transform: translateY(25px);
    }
}

@keyframes scrolltextOne {
    to {
        transform: translateX(-50%);
    }
}

@keyframes scrolltextTwo {
    to {
        transform: translateX(30%);
    }
}

@keyframes scrolltextThree {
    to {
        transform: translateX(-50%);
    }
}


@keyframes backgroundgredient {
    30% {


        background: linear-gradient(256deg, rgba(0, 7, 36, 1) 1%, rgba(25, 9, 121, 1) 6%, rgba(50, 65, 187, 1) 15%, rgba(19, 108, 176, 1) 22%, rgba(9, 9, 121, 1) 46%, rgba(9, 9, 121, 1) 57%, rgba(9, 38, 121, 1) 70%, rgba(9, 9, 121, 1) 78%, rgba(9, 50, 121, 1) 84%, rgba(8, 49, 131, 1) 88%, rgba(0, 212, 255, 1) 100%);


    }

    65% {

        background: linear-gradient(148deg, rgba(0, 7, 36, 1) 1%, rgba(25, 9, 121, 1) 6%, rgba(50, 65, 187, 1) 15%, rgba(19, 108, 176, 1) 22%, rgba(9, 9, 121, 1) 46%, rgba(9, 9, 121, 1) 57%, rgba(9, 38, 121, 1) 70%, rgba(9, 9, 121, 1) 78%, rgba(9, 50, 121, 1) 84%, rgba(8, 49, 131, 1) 88%, rgba(0, 212, 255, 1) 100%);
    }

    100% {

        background: linear-gradient(66deg, rgba(0, 7, 36, 1) 1%, rgba(25, 9, 121, 1) 6%, rgba(50, 65, 187, 1) 15%, rgba(19, 108, 176, 1) 22%, rgba(9, 9, 121, 1) 46%, rgba(9, 9, 121, 1) 57%, rgba(9, 38, 121, 1) 70%, rgba(9, 9, 121, 1) 78%, rgba(9, 50, 121, 1) 84%, rgba(8, 49, 131, 1) 88%, rgba(0, 212, 255, 1) 100%);
    }
}


@media (max-width: 768px) {


    .waterMarkText {
        display: none;
    }

    .scrollAnimatonWrper {
        display: none;
    }

    .actionBtnWrper {

        justify-content: center;
        z-index: 100;
    }

    .frsitDivContentWrp>h1 {
        text-align: center;
        padding-top: 60px;
    }

    .frsitDivContentWrp>p {
        text-align: center;
    }

}